body {
    min-width: 300px;
    min-height: 150px;
    font-family: 'Helvetica', sans-serif;
    color: #616161;
    background: #FAFAFA;
}

.option {
    font-size: 130%;
    padding-top: .01%;
    padding-bottom: .01%;
    padding-left: 5%;
    width: 95%;
    float: left;
}

.option:hover {
    outline: 1px solid #CCCCCC;
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 2%;
}